body{
    background: rgb(197, 103, 130);
    font-family: 'Poppins', sans-serif;
}


h2{
    background-color: rgb(243, 199, 211);
    padding: 15px; 
    margin-bottom: 20px; 
    border-radius: 15px;;
}

footer{
    background-color: darkgray;
}
  
#foto-de-perfil {
    width: 290px;
    height: 340px;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: block;
    margin: 40px auto; 
  }

  h4{
    text-align: center;
  }
  
